.background-container {
    position: relative;
}

.background-img{
height: 900px;}

.bakcground-black{
    position: absolute;
    top: 0;
    background-color: black;
    width: 100vw;
    height: 100%;
    z-index: 2;
    opacity: 0.6;
}

.main-details-container{
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 3;
    display: flex;
    
}

.poster-details-container img{
    width: 300px;
    border-radius: 15px;
}

.info-container{
    padding-inline-start: 50px;
    width: 500px;

}

.movie-details-title img{
width: 400px;
}

.genres-container {
    padding-block-start: 2em;
}

.genres-container button{
    font-size: 1.2em;
    border-style: solid;
    border-color: #e3eaeb;
    padding-inline: 0.5em;
    border-radius: 20px;
    margin-inline: 10px;
    border-width: 1px;
    padding-block: 2px;
    margin-block: 5px;
}

.overview-details-container p{
    margin-top: 1em;
    font-weight: 200;
}

.overview-details-container div{
    margin-top: 10px;
    font-size: 1.5em;
}

.credits-container{
    display: flex;
    justify-content: space-around;

}


.credits-card{
    margin-inline-start: 10px;
    margin-block-start: 30px;
}

.credits-card img{
    width: 100px;
    border-radius: 10px;
}

.credits-card span{
    color: #aaacad;
}

.credits-card p{
    margin-bottom: 5px;
}

.review-container{
    display: flex;
    margin-top: 10px;
}

.review-container span{
color: #d4b04e;
padding-inline-end: 5px;
font-size: 2.5em;
}

.review-container p{
    font-weight: bold;
    font-size: 1.5em;
    margin-top: 6px;
}

.review-container p span{
    font-size: 0.5em;
    color: #aaacad;
}