@import url('https://fonts.googleapis.com/css2?family=Badeen+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
margin: 0;
padding: 0;


}

ul{
  list-style: none;
}

body{
  font-family: "Inter", serif;
  background-color: #0b0d0d;
  color: #e3eaeb;
  overflow-x: hidden;
}

input:focus{
outline: none;}