.nav-container{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-inline: 3em;
    padding-block-start: 1em;
    z-index: 101;
    background-color: #151515;

  
}


.upper-nav{
    display: flex;
    justify-content: space-between;
    background-color: #151515;
    width: 100%;
    z-index: 2;

}

.nav-logo p{
    font-size: 1.5em;
    cursor: pointer;
}

.nav-logo span{
    color: #362166;
    font-size: 0.8em;
}



.nav-tabs ul{
    display: flex;
    justify-content: space-around;
}

.nav-tabs li{
    position: relative;
    padding-inline: 1.5em;
    margin-top: 5px;
    cursor: pointer;
}

.underline{
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    height: 3px;
    margin-inline:20px ;
    background-color: #362166;
    border-radius: 20px;  
}





.search-icon{
    font-size: 2em;
    /* padding-block-start: 0.5em; */
    padding-inline: 1em;
    cursor:pointer;
}

.search-container{
    position: absolute;
    display: flex;
    justify-content: space-between;
    z-index: 1;
  

}

.close-icon{
    font-size: 2em;
    margin: 10px;
    cursor: pointer;
}

.input-roll-container{
    display: flex;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: #202020;
    width: 100vw;
    height: 60px;
    transform: translatey(-100%);
    transition: all 0.5s;
}

.active{
transform: translatey(0%);
}

.input-roll-container input {
    width: 90vw;
    height:40px;
    background-color: #202020;
    border-style: none;
    color: #e3eaeb;
    padding-inline: 2em;
    z-index: 2;
    margin: 10px 0 0 0 ;
    font-size: 17px;
    
    
}


@media only screen and (max-width: 900px) {
    .nav-container{
        padding: 0;
        font-size: 0.8em;
        
    }
    .nav-input {
        display: none;
    }

   .nav-logo p, .nav-logo span{
    display: block;
    padding: 2px 0 0 10px;
   }

    .nav-tabs{
        padding-block: 1em;
    }

    .nav-burger-container{
        display: block;
    }

    .search-icon{
        display: block;
        margin: 10px 0 0 0;
    }
    .search-container{
        display: flex;
        justify-content: space-between;
    }
    
}

